extends layout
block content
 h1 #{title}
 p  Book Name :    
 a(href = book.url) #{book.title}
 p Summary :
 a #{book.summary}
 p.strong Are You sure you want to Delete this book 

 form(action = '' method ='POST')
   div.form-group
     input#bookid.form-control(type="hidden" , name ='bookid' ,required = true, value =book._id)
   button.btn.btn-primary(type='submit') Delete    